extends layout

block title 
    | Charge point ##{serialno}

block content
    script const serialno = '#{serialno}'; 

    button#save.w3-btn.w3-tiny.w3-round.w3-border.w3-right Save

    h2 CP ##{serialno}

    fieldset.w3-margin-top
        legend Actions
        button.w3-btn.w3-border.w3-ripple#act-connect Connect to backend
        button.w3-btn.w3-border.w3-ripple#act-boot Send BootNotification
        button.w3-btn.w3-border.w3-ripple#act-heartbeat Send Heartbeat
        button.w3-btn.w3-border.w3-ripple.w3-black#act-startautocharge Start Auto-charging 

    fieldset.w3-margin-top
        legend Current session
        .w3-container
            table.w3-table
                tr
                    th Driver UID
                    th Transaction id
                    th Start time
                    th Expected end time
                    th
                tr
                    td#currentUid --
                    td#currentTxid --
                    td#currentStartTime --
                    td#currentEndTime --
                    td
                        button.w3-btn.w3-red.w3-ripple#stopCurrentSession Stop

    fieldset.w3-margin-top
        legend Console 
        #console
        label.w3-margin
            input#autoscroll(type="checkbox", checked)
            |  Auto-scroll
        label.w3-margin
            input#unimportant-toggle(type="checkbox")
            |  Show unimportant messages 
        button#clsbtn.w3-btn.w3-ripple.w3-border.w3-margin clear

    fieldset.w3-margin-top
        legend Driver UIDs
        .w3-border.w3-padding
            form(action=`/cp/${serialno}/uid-upload`, method="post", enctype="multipart/form-data")
                label(for="uid-upload") Upload Driver UID.csv file
                input#uid-upload.w3-margin-left.w3-border(type="file", name="uids")
                button.w3-btn.w3-border.w3-round.w3-margin-left(type="submit") Upload
        .w3-panel
            each uid in uids
                .w3-border.w3-border-white.w3-hover-border-grey.w3-padding.uid-block UID ##{uid}
            
    script(src="/static/socket.io.js")
    script(src="/static/cps.js")
